@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap");

$colorWhiteLow: rgb(246, 246, 246);
$colorBlack: rgb(64, 64, 64);
$colorWhite: rgb(250, 250, 250);
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline:0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }



@mixin constainerLinks {
    display: block;
    padding: 5px;
    text-decoration: none;
}

@mixin title {
    text-decoration: none;
    color: $colorBlack;
    font-weight:bold;
    
}

@mixin textNew {
    color: rgb(120, 53, 15);
    background-color: rgb(252, 211, 77);
    border-radius: 4px;
}

  html {
    width: 100%;
    position: relative;
    
    
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    

  }

  .cont__all {
    background-color: $colorWhiteLow;

  }
 

[class*=col-] {
   
    width: 100px;
    height: 1000px;
}



aside{
    background-color: $colorWhiteLow;
}

.sidebar__right {
    .card {
        background-color: $colorWhiteLow;
        margin: 10px;
    .card-body{
        padding: 30px 0 30px 0;
        a{
            padding: 15px;
        }

    }
    }

    a img {
        height: 100px;
        width: 275px;
        border-radius: 8px;
    }
    .link__text{
        @include constainerLinks();
        color:$colorBlack;

    }
    .link__text:hover{
        background: $colorWhite;
        color: rgb(24, 24, 167);
    }

    .btn-primary {
        margin: 0 10px 0 10px;
        background-color: rgb(47, 58, 178);
    }

    .btn-secondary{
        margin: 0 10px 0 10px;
    }

    div span {
        @include textNew();
    }
}

.sidebar__right {
    header {
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 10px;
    }

    .link__foot{
        display: flex;
        text-align: center;
        justify-content: center; 
        a{
        text-decoration: none;
        color: $colorBlack;
        }
    }
}

.title__p a {
    @include title();
}

.title__p a:hover{
    color: rgb(24, 24, 167);
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(229, 229, 229);
   
    .footer-container{

    height: 100px;
   
    
 margin-top: auto;
   a {
        text-decoration: none;
    }
  }
}
